<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'hndist服务'"></title>
    <link rel="shortcut icon" href="../static/favicon.ico" th:href="@{/favicon.ico}">
</head>
<body>
    <div>
    <div>
        <span>数慧GIS 接口服务目录</span>
        <span style="float: right;color: #9c1a8b;text-decoration: underline;margin-right: 20px">登录</span>
    </div>

    <div style="height: 30px;border-top:solid 1px;background: #e5eff7;border-bottom: solid 1px;line-height: 25px;margin-top: 10px">
        <span style="margin-left: 10px"><span class="daohao">主页</span> > <span class="daohao">服务</span></span>
        <span style="float: right"><span class="daohao_right">帮助</span> |  <span class="daohao_right">接口参考</span></span>
    </div>

    <div class="content" style="margin-left: 20px">
        <p style="text-decoration: underline;color: #0055f2">
            JSON | SOAP
        </p>

        <h2>文件夹:/</h2>
        <h3>当前版本：1.0</h3>
        <h3>文件夹：</h3>

        <div>
            <ul style="color: #0000ee;text-decoration: underline" th:each="dir:${diritem}">
                <li><a href="#" th:text="${dir}" th:href="@{/rest/services/{name}/dir(name=${dir})}"></a></li>
            </ul>
        </div>

        <h3>服务：</h3>
        <div>
            <ul class="fuwuli" style="color: #0000ee;text-decoration: underline" th:each="folder:${folder_item}">
                <li th:if="${folder[1] eq 'mapserver'}"><a href="#" th:href="@{/rest/services/{name}/MapServer/hndist(name=${folder[0]})}" th:text="${folder[0]}"></a><span>(MapServer)</span></li>
                <li th:if="${folder[1] eq 'mapserver'}"><a href="#" th:text="${folder[0]}"></a><span>(FeatureServer)</span></li>
                <li th:if="${folder[1] eq 'bimserver'}"><a href="#" th:text="${folder[0]}"></a><span>(BIMserver)</span></li>
                <li th:if="${folder[3] ne 'none' and folder[1] eq 'mapserver'}"><a href="#" th:text="${folder[0]}"></a><span>(BIMServer)</span></li>
                <li th:if="${folder[1] eq 'lotserver'}"><a href="#" th:text="${folder[0]}"></a><span>(LOTServer)</span></li>
            </ul>
        </div>

        <p style="" class="zcjk">支持的接口：
            <span>REST</span>
            <span>SOAP</span>
            <span>Sitemap</span>
            <span>Geo Sitemap</span>
        </p>

    </div>

</div>
</body>
<script>


</script>

<style>
    .fuwuli li{
        margin-top: 10px;
    }
    li{
        cursor: pointer;
    }
    .daohao_right{
        color: #0000ee;
    }
    .daohao{
        color: #551a8b;
    }
    .zcjk{
        margin-top: 60px
    }
    .zcjk span{
        color: #0055f2;
        text-decoration: underline;
        margin-left: 5px;
        cursor: pointer;

    }
</style>
</html>