<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>城市信息模型（CIM）服务端</title>
    <!-- 引用icon -->
    <link rel="shortcut icon" href="/${projectName}/favicon.ico">
    <!-- 引用主样式文件 -->
    <link href="/${projectName}/css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div>
    <div class="wrapper">
        <!-- 头部 -->
        <div class="header">
            <div class="title">城市信息模型（CIM）基础平台 - 接口服务</div>
            <div class="login">
                <a href="http://www.hndist.com/" target="_blank">API文档</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://www.hndist.com/" target="_blank">关于数慧</a>
            </div>
        </div>
        <!-- 导航 -->
        <div class="nav">
            <span class="menu"><a href="/${projectName}/cim/rest">首页</a></span> >
            <span class="menu"><a href="/${projectName}/cim/rest/services">地图服务</a></span>
            <#if mapServer.catalog??>
            > <span class="menu"><a href="/${projectName}/cim/rest/services/${mapServer.catalog}">${mapServer.catalog}</a></span>
            > <span class="menu"><a href="/${projectName}/cim/rest/services/${mapServer.catalog}/${mapServer.name}/MapServer">${mapServer.name}</a></span>
            <#else>
            > <span class="menu"><a href="/${projectName}/cim/rest/services/${mapServer.name}/MapServer">${mapServer.name}</a></span>
        </#if>

    </div>
    <!-- 主体 -->
    <div class="main">
        <div class="folder">
            ${mapServer.name} (${mapServer.serviceEngine?replace('hndist server', 'MapServer')})
        </div>
        <div class="info">地图预览：<a href="/${projectName}/preview.html?map=<#if mapServer.catalog??>${mapServer.catalog}/</#if>${mapServer.name}&layers=all&extent=${mapServer.fullExtent}" target="_blank" >预览服务</a></div>
        <div class="info">地图名称：${mapServer.name}</div>
        <div class="info">图层列表：</div>
        <div>
            <ul>
                <#if mapServer.mapLayerList??>
                <#list mapServer.mapLayerList as layer>
                <#if layer.name??>
                <li>
                    <a href="/${projectName}/cim/rest/services/<#if mapServer.catalog??>${mapServer.catalog}/</#if>${mapServer.name}/MapServer/${layer.name}">${layer.name}</a>
                </li>
            </#if>
        </#list>
    </#if>
    </ul>
    <br>
</div>
<div class="info">空间参考：4490</div>
<div class="info">切片服务：否</div>
<div class="info">初始范围：</div>
<div class="extent">
    <#if mapServer.fullExtent??>
    <span>XMin: <#if mapServer.fullExtent.xmin??>${mapServer.fullExtent.xmin?c}</#if></span>
    <span>YMin: <#if mapServer.fullExtent.ymin??>${mapServer.fullExtent.ymin?c}</#if></span>
    <span>XMax: <#if mapServer.fullExtent.xmax??>${mapServer.fullExtent.xmax?c}</#if></span>
    <span>YMax: <#if mapServer.fullExtent.xmax??>${mapServer.fullExtent.xmax?c}</#if></span>
    <span>空间参考: 4490</span>
    </#if>
</div>
<div class="info">最大范围：</div>
<div class="extent">
    <#if mapServer.fullExtent??>
    <span>XMin: <#if mapServer.fullExtent.xmin??>${mapServer.fullExtent.xmin?c}</#if></span>
    <span>YMin: <#if mapServer.fullExtent.ymin??>${mapServer.fullExtent.ymin?c}</#if></span>
    <span>XMax: <#if mapServer.fullExtent.xmax??>${mapServer.fullExtent.xmax?c}</#if></span>
    <span>YMax: <#if mapServer.fullExtent.xmax??>${mapServer.fullExtent.xmax?c}</#if></span>
    <span>空间参考: 4490</span>
    </#if>
</div>
<div class="info">支持图片格式：PNG32,PNG24,PNG,JPG,DIB,TIFF,EMF,PS,PDF,GIF,SVG,SVGZ,BMP</div>
<div class="info">查询默认记录数：1000</div>
<div class="info">图片最大高度：4096</div>
<div class="info">图片最大宽度：4096</div>
<div class="info">支持查询格式：JSON, geoJSON</div>
<div class="interfaces">支持的接口：
    <span><a href="/${projectName}/cim/rest/services/<#if mapServer.catalog??>${mapServer.catalog}/</#if>${mapServer.name}/MapServer?f=json" target="_blank">REST</a></span>
</div>
</div>
</div>
</body>
</html>