<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hndist.server.mapper.CimCityMapper">


    <resultMap type="CimCity" id="CimCityResult">
        <result property="id" column="id"/>
        <result property="pid" column="pid"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="pinyin" column="pinyin"/>
        <result property="ploygon" column="ploygon"/>
        <result property="zipCode" column="zip_code"/>
        <result property="isparent" column="isparent"/>
        <result property="createTime" column="create_time"/>
        <result property="icon" column="icon"/>
    </resultMap>

    <sql id="selectCimCityVo">
        select
                id
                ,pid
                ,code
                ,name
                ,pinyin
                ,ploygon
                ,zip_code
                ,isparent
                ,create_time
                ,icon
        from cim_city
    </sql>

    <select id="selectCimCityById" resultMap="CimCityResult">
        <include refid="selectCimCityVo"/>
        where id = #{id}
    </select>

    <select id="selectCimCityList" resultMap="CimCityResult">
        <include refid="selectCimCityVo"/>
        <where>
                        <if test="vo.id != null  and vo.id != ''"> and id = #{vo.id}</if>
                        <if test="vo.pid != null  and vo.pid != ''"> and pid = #{vo.pid}</if>
                        <if test="vo.code != null  and vo.code != ''"> and code = #{vo.code}</if>
                        <if test="vo.name != null  and vo.name != ''"> and name like concat('%', #{vo.name},'%')</if>
                        <if test="vo.pinyin != null  and vo.pinyin != ''"> and pinyin like concat( #{vo.pinyin},'%')</if>
                        <if test="vo.ploygon != null  and vo.ploygon != ''"> and ploygon = #{vo.ploygon}</if>
                        <if test="vo.zipCode != null  and vo.zipCode != ''"> and zip_code = #{vo.zipCode}</if>
                        <if test="vo.isparent != null  and vo.isparent != ''"> and isparent = #{vo.isparent}</if>
                        <if test="vo.createTime != null  and vo.createTime != ''"> and create_time = #{vo.createTime}</if>
        </where>
        order by create_time desc
    </select>


    <insert id="insertCimCity" parameterType="CimCity" useGeneratedKeys="true" keyProperty="id">
        insert into cim_city
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="pid != null">pid,</if>
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="pinyin != null">pinyin,</if>
            <if test="ploygon != null">ploygon,</if>
            <if test="zipCode != null">zip_code,</if>
            <if test="isparent != null">isparent,</if>
            <if test="createTime != null">create_time,</if>
            <if test="icon != null">icon,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
           <if test="id != null">#{id},</if>
           <if test="pid != null">#{pid},</if>
           <if test="code != null">#{code},</if>
           <if test="name != null">#{name},</if>
           <if test="pinyin != null">#{pinyin},</if>
           <if test="ploygon != null">#{ploygon},</if>
           <if test="zipCode != null">#{zipCode},</if>
           <if test="isparent != null">#{isparent},</if>
           <if test="createTime != null">#{createTime},</if>
           <if test="icon != null">#{icon},</if>
         </trim>
    </insert>

    <update id="updateCimCity" parameterType="CimCity">
        update cim_city
        <trim prefix="SET" suffixOverrides=",">
            <if test="pid != null">pid=#{pid},</if>
            <if test="code != null">code=#{code},</if>
            <if test="name != null">name=#{name},</if>
            <if test="pinyin != null">pinyin=#{pinyin},</if>
            <if test="ploygon != null">ploygon=#{ploygon},</if>
            <if test="zipCode != null">zip_code=#{zipCode},</if>
            <if test="isparent != null">isparent=#{isparent},</if>
            <if test="createTime != null">create_time=#{createTime},</if>
            <if test="icon != null">icon=#{icon},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCimCityById" parameterType="String">
        delete from cim_city where id = #{id}
    </delete>

    <delete id="deleteChildren" parameterType="String">
        delete from cim_city where code like concat( #{code},'%')
    </delete>

    <delete id="deleteCimCityByIds" parameterType="String">
        delete from cim_city where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectDuplicate" parameterType="CimCity" resultMap="CimCityResult">
        SELECT * FROM cim_city
        <where>
            (isparent is null OR LENGTH(isparent) =0 or isparent='0')
            and (name=#{name} or code=#{code}) and id=#{id}
        </where>
    </select>

    <select id="repetitionCode" resultMap="CimCityResult">
        select * from cim_city
        <where>
            (isparent is null OR LENGTH(isparent) =0 or isparent='0')
            and (name=#{name} or code=#{code}) and id <![CDATA[ <> ]]> #{id}
        </where>
    </select>

    <select id="selectCimCityTreeList" resultMap="CimCityResult">
        <include refid="selectCimCityVo"/>
        <where>
            <if test="type==null or type=='' "> and isparent = '1'</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name},'%')</if>
        </where>
    </select>


</mapper>
