<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hndist.server.mapper.CimMapresourcesMapper">


    <resultMap type="CimMapresources" id="CimMapresourcesResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="label" column="label"/>
        <result property="isparent" column="isparent"/>
        <result property="show" column="is_show"/>
        <result property="status" column="status"/>
        <result property="serviceurl" column="serviceurl"/>
        <result property="city" column="city"/>
        <result property="key" column="key"/>
        <result property="spatialReference" column="spatial_reference"/>
        <result property="tags" column="tags"/>
        <result property="thumbnail" column="thumbnail"/>
        <result property="servicetype" column="servicetype"/>
        <result property="serviceengine" column="serviceengine"/>
        <result property="transparency" column="transparency"/>
        <result property="reorder" column="reorder"/>
        <result property="createTime" column="create_time"/>
        <result property="context" column="context"/>
        <result property="pid" column="pid"/>
        <result property="icon" column="icon"/>
        <result property="extent" column="extent"/>
        <result property="serverId" column="server_id"/>
        <result property="spatialRefer" column="spatial_refer"/>
        <result property="specialMap" column="is_special_map"/>
        <result property="height" column="height"/>
    </resultMap>

    <sql id="selectCimMapresourcesVo">
        select
                id
                ,name
                ,name as label
                ,isparent
                ,is_show
                ,status
                ,serviceurl
                ,city
                ,key
                ,spatial_reference
                ,tags
                ,thumbnail
                ,servicetype
                ,serviceengine
                ,transparency
                ,reorder
                ,create_time
                ,context
                ,pid
                ,icon
                ,extent
                ,server_id
                ,spatial_refer
                ,is_special_map
                ,height
        from cim_mapresources
    </sql>

    <select id="selectCimMapresourcesById" resultMap="CimMapresourcesResult">
        <include refid="selectCimMapresourcesVo"/>
        where id = #{id}
    </select>

    <select id="selectCimMapresourcesList" resultMap="CimMapresourcesResult">
        <include refid="selectCimMapresourcesVo"/>
        <where>
                        <if test="vo.id != null  and vo.id != ''"> and id = #{vo.id}</if>
                        <if test="vo.name != null  and vo.name != ''"> and name like concat('%', #{vo.name}, '%')</if>
                        <if test="vo.isparent != null  and vo.isparent != ''"> and isparent = #{vo.isparent}</if>
                        <if test="vo.show != null  and vo.show != ''"> and is_show = #{vo.show}</if>
                        <if test="vo.status != null  and vo.status != ''"> and status = #{vo.status}</if>
                        <if test="vo.serviceurl != null  and vo.serviceurl != ''"> and serviceurl = #{vo.serviceurl}</if>
                        <if test="vo.city != null  and vo.city != ''"> and city = #{vo.city}</if>
                        <if test="vo.key != null  and vo.key != ''"> and key = #{vo.key}</if>
                        <if test="vo.spatialReference != null  and vo.spatialReference != ''"> and spatial_reference = #{vo.spatialReference}</if>
                        <if test="vo.tags != null  and vo.tags != ''"> and tags = #{vo.tags}</if>
                        <if test="vo.thumbnail != null  and vo.thumbnail != ''"> and thumbnail = #{vo.thumbnail}</if>
                        <if test="vo.servicetype != null  and vo.servicetype != ''"> and servicetype = #{vo.servicetype}</if>
                        <if test="vo.serviceengine != null  and vo.serviceengine != ''"> and serviceengine = #{vo.serviceengine}</if>
                        <if test="vo.transparency != null  and vo.transparency != ''"> and transparency = #{vo.transparency}</if>
                        <if test="vo.reorder != null  and vo.reorder != ''"> and reorder = #{vo.reorder}</if>
                        <if test="vo.createTime != null  and vo.createTime != ''"> and create_time = #{vo.createTime}</if>
                        <if test="vo.context != null  and vo.context != ''"> and context = #{vo.context}</if>
                        <if test="vo.pid != null  and vo.pid != ''"> and pid = #{vo.pid}</if>
                        <if test="vo.extent != null  and vo.extent != ''"> and extent = #{vo.extent}</if>
                        <if test="vo.serverId != null  and vo.serverId != ''"> and server_id = #{vo.serverId}</if>
                        <if test="vo.spatialRefer != null  and vo.spatialRefer != ''"> and spatial_refer = #{vo.spatialRefer}</if>
        </where>
        order by reorder asc nulls last
    </select>

    <select id="selectCimMapresourcesListByPid" resultMap="CimMapresourcesResult">
        WITH RECURSIVE cte AS (
        SELECT
        n.id
        ,n.name
        ,n.isparent
        ,n.is_show
        ,n.status
        ,n.serviceurl
        ,n.city
        ,n.key
        ,n.spatial_reference
        ,n.tags
        ,n.thumbnail
        ,n.servicetype
        ,n.serviceengine
        ,n.transparency
        ,n.reorder
        ,n.create_time
        ,n.context
        ,n.height
        ,n.pid
        FROM
        cim_mapresources AS n
        WHERE
        n.is_show='1' and n.pid = #{pid} UNION ALL
        SELECT
        r.id
        ,r.name
        ,r.isparent
        ,r.is_show
        ,r.status
        ,r.serviceurl
        ,r.city
        ,r.key
        ,r.spatial_reference
        ,r.tags
        ,r.thumbnail
        ,r.servicetype
        ,r.serviceengine
        ,r.transparency
        ,r.reorder
        ,r.create_time
        ,r.context
        ,r.height
        ,cte.id AS pid
        FROM
        cte
        JOIN cim_mapresources AS r ON r.pid = cte.ID
        ) SELECT
              *
          FROM
              cte
    </select>

    <insert id="insertCimMapresources" parameterType="CimMapresources" useGeneratedKeys="true" keyProperty="id">
        insert into cim_mapresources
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="isparent != null">isparent,</if>
            <if test="show != null">is_show,</if>
            <if test="status != null">status,</if>
            <if test="serviceurl != null">serviceurl,</if>
            <if test="city != null">city,</if>
            <if test="key != null">key,</if>
            <if test="spatialReference != null">spatial_reference,</if>
            <if test="tags != null">tags,</if>
            <if test="thumbnail != null">thumbnail,</if>
            <if test="servicetype != null">servicetype,</if>
            <if test="serviceengine != null">serviceengine,</if>
            <if test="transparency != null">transparency,</if>
            <if test="reorder != null">reorder,</if>
            <if test="createTime != null">create_time,</if>
            <if test="context != null">context,</if>
            <if test="pid != null">pid,</if>
            <if test="icon != null">icon,</if>
            <if test="extent != null">extent,</if>
            <if test="serverId != null">server_id,</if>
            <if test="spatialRefer != null">spatial_refer,</if>
            <if test="specialMap != null">is_special_map,</if>
            <if test="height != null">height,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
           <if test="id != null">#{id},</if>
           <if test="name != null">#{name},</if>
           <if test="isparent != null">#{isparent},</if>
           <if test="show != null">#{show},</if>
           <if test="status != null">#{status},</if>
           <if test="serviceurl != null">#{serviceurl},</if>
           <if test="city != null">#{city},</if>
           <if test="key != null">#{key},</if>
           <if test="spatialReference != null">#{spatialReference},</if>
           <if test="tags != null">#{tags},</if>
           <if test="thumbnail != null">#{thumbnail},</if>
           <if test="servicetype != null">#{servicetype},</if>
           <if test="serviceengine != null">#{serviceengine},</if>
           <if test="transparency != null">#{transparency},</if>
           <if test="reorder != null">#{reorder},</if>
           <if test="createTime != null">#{createTime},</if>
           <if test="context != null">#{context},</if>
           <if test="pid != null">#{pid},</if>
           <if test="icon != null">#{icon},</if>
           <if test="extent != null">#{extent},</if>
           <if test="serverId != null">#{serverId},</if>
           <if test="spatialRefer != null">#{spatialRefer},</if>
           <if test="specialMap != null">#{specialMap},</if>
           <if test="height != null">#{height},</if>
         </trim>
    </insert>

    <update id="updateCimMapresources" parameterType="CimMapresources">
        update cim_mapresources
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name=#{name},</if>
            <if test="isparent != null">isparent=#{isparent},</if>
            <if test="show != null">is_show=#{show},</if>
            <if test="status != null">status=#{status},</if>
            <if test="serviceurl != null">serviceurl=#{serviceurl},</if>
            <if test="city != null">city=#{city},</if>
            <if test="key != null">key=#{key},</if>
            <if test="spatialReference != null">spatial_reference=#{spatialReference},</if>
            <if test="tags != null">tags=#{tags},</if>
            <if test="thumbnail != null">thumbnail=#{thumbnail},</if>
            <if test="servicetype != null">servicetype=#{servicetype},</if>
            <if test="serviceengine != null">serviceengine=#{serviceengine},</if>
            <if test="transparency != null">transparency=#{transparency},</if>
            <if test="reorder != null">reorder=#{reorder},</if>
            <if test="createTime != null">create_time=#{createTime},</if>
            <if test="context != null">context=#{context},</if>
            <if test="pid != null">pid=#{pid},</if>
            <if test="icon != null">icon=#{icon},</if>
            <if test="extent != null">extent=#{extent},</if>
            <if test="serverId != null">server_id=#{serverId},</if>
            <if test="spatialRefer != null">spatial_refer=#{spatialRefer},</if>
            <if test="specialMap != null">is_special_map=#{specialMap},</if>
            <if test="height != null">height=#{height},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCimMapresourcesById" parameterType="String">
        delete from cim_mapresources
       <where> 1=1
        <if test="id != null">and id=#{id}</if>
        <if test="pid != null">and pid=#{pid}</if>
       </where>
    </delete>

    <delete id="deleteCimMapresourcesByIds" parameterType="String">
        delete from cim_mapresources where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectCimMapresourcesByIds" parameterType="String" resultType="com.hndist.server.domain.CimMapresources">
        select * from cim_mapresources where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <delete id="updateShowByIds" parameterType="String">
        update cim_mapresources set is_show = #{show} where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectCimMapresourcesTreeList" parameterType="String" resultMap="CimMapresourcesResult">
        <include refid="selectCimMapresourcesVo"/>
        <where>
            <if test="type==null or type=='' "> and isparent = '1'</if>
        </where>
        order by reorder asc nulls last
    </select>

    <select id="verifyLabelBySave" parameterType="string" resultType="int">
        select count(*) from cim_mapresources where name = #{name} and status ='1'
    </select>

    <select id="verifyLabelByEdit" parameterType="string" resultType="int">
        <![CDATA[  select count(*) from cim_mapresources where name = #{name} and status ='1' and id <> #{id}  ]]>
    </select>


</mapper>
